@import "../../styles/variables";

.Green-button {
  padding: 20px 80px;
  color: $white;
  background-color: $green;
  border: 1px solid transparent;
  transition: all 0.3s ease;

  /*&:focus {
    border: 1px solid $orange;
    background-color: transparent;
  }*/

  &:active {
    background-color: $dark-blue;
    color: $black;
    box-shadow: inset 0 0 10px $black;
  }

  &:disabled {
    background-color: $grey;
    color: $grey;
  }

  @media (hover: hover) {
    &:hover {
      color: $black;
      background-color: $orange;

      &:active {
        background-color: $dark-blue;
        color: $black;
      }
    }
  }
}