@import "../../assets/styles/variables";

.page-create {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(2px);
}

.page-create__title {
  padding: 25px 70px;
  background-color: $black-80;
  margin-bottom: 40px;
}

.page-create__body {
  min-width: 50%;
  background-color: $black-80;
}