@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import "variables";

.h1 {
  font-family: Open Sans, serif;
  font-size: 40px;
  line-height: 100%;
}
.h2 {
  font-family: Open Sans, serif;
  font-size: 36px;
  line-height: 100%;
}
.h3 {
  font-family: Open Sans, serif;
  font-size: 24px;
  line-height: 120%;
}
.h4 {
  font-family: Open Sans, serif;
  font-size: 20px;
  line-height: 100%;
}
.h5 {
  font-family: Open Sans, serif;
  font-size: 16px;
  line-height: 100%;
}
.bold {
  font-weight: 700;
}
.semibold {
  font-weight: 600;
}
.light {
  font-weight: 300;
}

.green {
  color: $green;
}

.black {
  color: $black;
}