@import "./variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?k080e5');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?k080e5#iefix') format('embedded-opentype'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?k080e5') format('truetype'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?k080e5') format('woff'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?k080e5##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]:before, [class*="icon-"]:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow {
  &:before {
    content: $icon-arrow;
  }
}

.icon-calendar {
  &:before {
    content: $icon-calendar;
  }
}

.icon-checked {
  &:before {
    content: $icon-checked;
  }
}

.icon-download {
  &:before {
    content: $icon-download;
  }
}

.icon-facebook {
  &:before {
    content: $icon-facebook;
  }
}

.icon-file {
  &:before {
    content: $icon-file;
  }
}

.icon-github {
  &:before {
    content: $icon-github;
  }
}

.icon-home {
  &:before {
    content: $icon-home;
  }
}

.icon-journal {
  &:before {
    content: $icon-journal;
  }
}

.icon-man {
  &:before {
    content: $icon-man;
  }
}

.icon-people {
  &:before {
    content: $icon-people;
  }
}

.icon-search {
  &:before {
    content: $icon-search;
  }
}

.icon-team {
  &:before {
    content: $icon-team;
  }
}

.icon-twitter {
  &:before {
    content: $icon-twitter;
  }
}

.icon-youtube {
  &:before {
    content: $icon-youtube;
  }
}

